<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Python Black Belt Exam!!!</title>

        <!-- Load Static Files -->
        {% load staticfiles %}

        <!-- Optional Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v2.3.1/dist/mini-default.min.css">

        <!-- CSS Stylesheets -->
        <link rel="stylesheet" href="{% static '/exam/css/style.css' %}">

        <!-- JS Scripts - jQuery, master.js  -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static '/exam/js/master.js' %}">
        </script>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/"><i class="fa fa-coffee" aria-hidden="true"></i><span class="nav_bar">Wake Up</span></a></li>
                    {% if 'user_id' not in request.session %}
                        <li><a href="/register"><i class="fa fa-id-badge" aria-hidden="true"></i><span class="nav_bar">Register</span></a></li>
                        <li><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i><span class="nav_bar">Log In</span></a></li>
                    {% else %}
                        <li><a href="/travels"><i class="fa fa-plane" aria-hidden="true"></i><span class="nav_bar">Travel Logs</span></a></li>
                        <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i><span class="nav_bar">Log Out</span></a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <div class="alert">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
